<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap" rel="stylesheet">
    <title>Sixteen Clothing HTML Template</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/psplywood/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="@Url.Content("~/psplywood/assets/css/fontawesome.css")">
    <link rel="stylesheet" href="@Url.Content("~/psplywood/assets/css/templatemo-sixteen.css")">
    <link rel="stylesheet" href="@Url.Content("~/psplywood/assets/css/owl.css")">
    <link rel="stylesheet" href="@Url.Content("~/psplywood/assets/css/psplywood.css")">

</head>
<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>พีเอส <em>ไม้อัดไทย</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">หน้าหลัก
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="products.html">สินค้าของเรา</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">ติดต่อเรา</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    


    
            @RenderBody()




    <!--footer starts from here-->
    <footer class="footer mt-5">
        <div class="container bottom_border">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
                    <!--headin5_amrc-->
                    <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
                    <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
                    <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
                        <li><a href="http://webenlance.com">Image Rectoucing</a></li>
                        <li><a href="http://webenlance.com">Clipping Path</a></li>
                        <li><a href="http://webenlance.com">Hollow Man Montage</a></li>
                        <li><a href="http://webenlance.com">Ebay & Amazon</a></li>
                        <li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
                        <li><a href="http://webenlance.com">Image Cropping</a></li>
                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>


                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
                        <li><a href="http://webenlance.com">Remove Background</a></li>
                        <li><a href="http://webenlance.com">Shadows & Mirror Reflection</a></li>
                        <li><a href="http://webenlance.com">Logo Design</a></li>
                        <li><a href="http://webenlance.com">Vectorization</a></li>
                        <li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
                        <li><a href="http://webenlance.com">Image Cropping</a></li>
                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>


                <div class=" col-sm-4 col-md  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Map</h5>
                    <!--headin5_amrc ends here-->
                    <div class="map-container">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61588.528642678975!2d104.81509336137847!3d15.252352900470928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31167d637f7312cd%3A0x2a9c2270e4c93f2a!2z4Lie4Li14LmA4Lit4Liq4LmE4Lih4LmJ4Lit4Lix4LiU4LmE4LiX4Lii!5e0!3m2!1sen!2sth!4v1707579685976!5m2!1sen!2sth" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <!--footer_ul2_amrc ends here-->
                </div>
            </div>
        </div>


        <div class="container">
            <ul class="foote_bottom_ul_amrc">
                <li><a href="http://webenlance.com">Home</a></li>
                <li><a href="http://webenlance.com">About</a></li>
                <li><a href="http://webenlance.com">Services</a></li>
                <li><a href="http://webenlance.com">Contact</a></li>
            </ul>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="text-center">Copyright  | Designed With by <a href="#">Your Company Name</a></p>

            <ul class="social_footer_ul">
                <li><a href="http://webenlance.com"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="http://webenlance.com"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://webenlance.com"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://webenlance.com"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>

    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="@Url.Content("~/psplywood/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/psplywood/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>


    <!-- Additional Scripts -->
    <script src="@Url.Content("~/psplywood/assets/js/custom.js")"></script>
    <script src="@Url.Content("~/psplywood/assets/js/owl.js")"></script>
    <script src="@Url.Content("~/psplywood/assets/js/slick.js")"></script>
    <script src="@Url.Content("~/psplywood/assets/js/isotope.js")"></script>
    <script src="@Url.Content("~/psplywood/assets/js/accordions.js")"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
