@using PSPlywoodWeb.Models.Products;
@using PSPlywoodWeb.Models;
@using PSPlywoodWeb.Common;

@model PSPlywoodWeb.Models.Products.ProductListViewModel;
@{
var commonData = Context.Items["CommonData"] as LayoutViewModel;
}

    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
               <h4>@commonData?.Setting?.CoverProductTitle</h4>
               <h2>@commonData?.Setting?.CoverProductSubTitle</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div   id="main_product_list"></div>
    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                <li class="active" data-filter="*">ทั้งหมด(@Model.Products.Count())</li>
                <li data-filter=".b">ไม้แบบก่อสร้าง(@Model.Products.Count(_=>_.categoryId == 1))</li>
                <li data-filter=".a">ไม้งานเฟอร์นิเจอร์(@Model.Products.Count(_ => _.categoryId == 2))</li>
                <li data-filter=".c">ไม้ประเภทอื่นๆ(@Model.Products.Count(_ => _.categoryId == 3))</li>
              </ul>
                <div class="mt-3 mb-2">
                    
                    <ul>
                            <li>Tags : </li>
                    @foreach (var item in Model.Tags)
                        {
                            <li data-filter=".@item.ToStringSmart()">
                                    <span class="badge badge-pill badge-secondary pt-2 pr-2 pl-2">@item</span>

                                @* <span class="badge badge-pill badge-secondary">@item</span> *@
                            </li>
                        }
                    </ul>
                </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                    
            @foreach (var item in Model.Products)
            {
                    <div class="col-lg-4 col-md-4 all 
                        @(item.categoryName == "เฟอร์นิเจอร์" ? "a" : item.categoryName == "แบบก่อสร้าง"? "b" : "c")
                    @item.tag.ToTagsStringSmart()
                    ">
                      <div class="product-item">
                      <a href='@Url.Action("Details", "Product", new {id = item.id})'>
                        <div class="image-container" style="width: 100%!important;  height: 300px!important;  position: relative!important;  overflow: hidden!important;">
                            <img src='@item.coverUrl' alt="" style=" width: 100%!important;  height: 100%!important;  object-fit: contain!important;">
                        </div>
                      </a>
                    <div class="down-content">
                      <a href='@Url.Action("Details", "Product", new {id = item.id})'>
                                            <h4>@item.productName</h4>
                      </a>
                      @* <b>ราคา: @item.productPrices.FirstOrDefault().priceTxt บาท</b> *@
                      <p>@item.productDetail2</p>
                      <ul class="stars mt-2">
                        <li style="color:#d44d4d">ส่งฟรี!! ตามเงื่อนไขที่กำหนด</li>
                      </ul>
                      <span class="badge badge-primary" style="color:white">
                        @Model.Categories.FirstOrDefault(_=>_.id == item.categoryId)?.categoryName
                      </span>
                    </div>
                  </div>
              </div>
            }
            </div>
          </div>
          <div class="col-md-12">
            @* <ul class="pages">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul> *@
          </div>
        </div>
      </div>
    </div>


@section Scripts {
    <script>
        // Shorthand for $( document ).ready()
        $(function() {
            var main_product_list = document.getElementById("main_product_list");

            main_product_list.scrollIntoView({
              behavior: "smooth",
              block: "start",
              inline: "nearest"
            });
        })

    </script>
}
