@using PSPlywoodWeb.Models.Products;
@model PSPlywoodWeb.Models.Products.ProductViewModel;
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>พีเอสไม้อัดไทย</h4>
            <h3>ให้บริการไม้อัดทุกชนิด</h3>
            <h3>บริการส่งฟรี</h3>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>สนใจติดต่อ</h4>
            <h3>09X-XXXX-XXX</h3>
            <h3>09X-XXXX-XXX</h3>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            @*<h4>สนใจติดต่อ</h4>
            <h3>09X-XXXX-XXX</h3>
            <h3>09X-XXXX-XXX</h3>*@
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    
    <div class="latest-products">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>สินค้าของเรา</h2> 
                <a href='@Url.Action("Index", "Product")'>ไม้แบบก่อสร้าง | ไม้งานเฟอร์นิเจอร์ | สินค้าทั้งหมด <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
            @foreach (var item in Model.Products)
            {
              <div class="col-md-4">
                  <div class="product-item">
                      <a href='@Url.Action("Index", "Product")'>
                        <div class="image-container" style="width: 100%!important;  height: 300px!important;  position: relative!important;  overflow: hidden!important;">
                            <img src='@item.coverUrl' alt="" style=" width: 100%!important;  height: 100%!important;  object-fit: contain!important;">
                        </div>
                      </a>
                    <div class="down-content">
                      <a href='@Url.Action("Index", "Product")'>
                        <h4>@item.productName</h4>
                      </a>
                      @* <h6>@item.productPrices.FirstOrDefault()?.price.ToString("0.##")</h6> *@
                      <b>ราคา: @item.productPrices.FirstOrDefault()?.price.ToString("0.##") บาท</b>
                      @* <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p> *@
                      @* <p>@item.productDetail2</p> *@
                      <p>เหมาะสำหรับงานก่อสร้างทั่วไป งานก่อสร้างอาคารสูง และงานต่างๆที่ต้องการความแข็งแรงทนทานของแบบ.</p>
                      @* <p>@Html.Raw(item.productDetail)</p> *@
                      @* <ul class="stars mb-2">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul> *@
                      <ul class="stars mt-2">
                        <li style="color:#d44d4d">ส่งฟรี!! ตามเงื่อนไขที่กำหนด</li>
                      </ul>
                      <span class="badge badge-primary" style="color:white">
                        @Model.Categories.FirstOrDefault(_=>_.id == item.categoryId)?.categoryName
                      </span>
                    </div>
                  </div>
              </div>
            }
        </div>
      </div>
    </div>

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>เกี่ยวกับเรา</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>คุณกำลังมองหาไม้อัดคุณภาพดี ราคาไม่แพง?</h4>
              <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">พีเอสไม้อัด</a> เราให้บริการไม้อัดมายาวนาน, ตั้งแต่ 2550 ส่งมอบสินค้ามากมาายให้กับลูกค้า ทั้งงานเล็กงานใหญ่ เราพร้อมให้บริการ, เรามีไม้อัดมากมายพร้อมให้บริการ หากคุณต้องการไม้อัด คิดถึงเรา. <a rel="nofollow" href="https://templatemo.com/contact">ติดต่อเรา</a> เพื่อสอบถามเพิ่มเติม.</p>
              <b>ส่วนหนึ่งของ ลูกค้าของเรา</b>
              <ul class="featured-list">
                <li><a href="#">Too design & consultant</a></li>
                <li><a href="#">WITTAWII: บริษัทรับเหมาก่อสร้าง</a></li>
                <li><a href="#">NWd Architects</a></li>
                <li><a href="#">Sumitomo Mitsui Construction</a></li>
              </ul>
              <a href="about.html" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="psplywood/assets/images/our-service.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>ไม้อัดคุณภาพดี <em>PS</em> Plywood</h4>
                  <p>พีเอสไม้อัดไทย, 08X-XXXX-XXX. ติดต่อเราได้ทุกช่องทาง, ใช้งานจำนวนเยอะ จำนวนน้อย เรายินดีให้บริการค่ะ.</p>
                </div>
                <div class="col-md-4">
                  <a href='@Url.Action("Index", "ContactUs")' class="filled-button">ติดต่อเรา | สั่งซื้อเลย</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>